parameters:
	level: 5
	paths:
		- src
	inferPrivatePropertyTypeFromConstructor: true
	excludes_analyse:
		- src/Component/User/Spec
		- src/Component/User/Tests
		- src/Component/Core/Spec
		- src/Component/Core/Tests
		- src/Laravel/User/Tests
		- src/Laravel/User/Spec

		- src/Laravel/User/Controllers
	earlyTerminatingMethodCalls:
		PHPUnit\Framework\Constraint\Constraint:
			- fail
	ignoreErrors:
	    - '#undefined static method#'
	    - '#PHPDoc tag @var does not match assigned variable#'
	    - '#Parameter \#2 \$listener of method#'
	    - '#TestIlluminateRegistry#'
	    - '#Doctrine\\Persistence\\ObjectManager given#'
	    - '#ObjectManager::getEventManager\(\)#'