spec_prefix: Spec
suites:
  omed_component:
    namespace: Omed\Component\User
    psr4_prefix: Omed\Component\User
    spec_path: src/Component/User
    src_path: src/Component/User
    spec_prefix: Spec